.www.pp {
    background-color: #f4f4f4;
}

.content-product-page.inner {
    width: 1020px;
    min-width: 1020px;
    box-sizing: border-box;
}

.content-product-page {
    box-sizing: border-box;
    padding-top: 60px;
    line-height: 1.2;
}

.content-product-page * {
    box-sizing: border-box;
}

.content-product-page .btn-modal {
    cursor: pointer;
}

.content-product-page .wide-btn-arrow {
    font-family: brandon_textregular, sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #575757;
    padding: 15px 50px;
    text-decoration: none;
    border: solid 2px #575757;
    border-radius: 60px;
}

.content-product-page .have-question-text {
    text-align: right;
}

.content-product-page .have-question-text a {
    font-family: brandon_textregular, sans-serif;
    font-size: 15px;
    color: #3f3e3e;
    text-decoration: none;
}

.content-product-page h1 {
    font-family: brandon_textlight, sans-serif;
    font-size: 40px;
    color: #242424;
    margin-bottom: 22px;

}

.content-product-page .slogan {
    font-family: brandon_textregular, sans-serif;
    font-size: 25px;
    color: #656464;
    margin-bottom: 68px;
}




.product-table {
    display: flex;
    font-family: brandon_textlight, sans-serif;
    font-size: 15px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    min-width: 1020px;
    white-space: initial;
}

.big-col-1 {
    width: 50%;
    box-sizing: border-box;
}

.big-col-2 {
    width: 50%;
    position: relative;
    box-sizing: border-box;
}

.big-col-1 .sub-col,
.big-col-2 .sub-col {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 30px;

}

.big-col-1 .sub-col .wrapper,
.big-col-2 .sub-col .wrapper {
    background-color: white;
    height: 100%;
    padding: 0 5px 30px 5px;
    position: relative;

}


.content-product-page .descr {
    margin-bottom: 20px;
    min-height: 70px;
}

.content-product-page .features {
    color: #1d5a8f;
    min-height: 50px;
}

.content-product-page .features span {
    display: block;
    font-size: 30px;
    margin-top: 10px;

}

.content-product-page .list-plan-advantages {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}

.content-product-page .list-plan-advantages li {
    list-style: none;
    padding: 10px 20px;

    background-color: #fbfbfb;
    /*background: red;*/
    margin-bottom: 20px;
    border-radius: 10px;
}

.content-product-page .list-plan-advantages li p {
    font-family: brandon_textregular,sans-serif;
    font-size: 15px;
    color: #4b4b4b;
    margin-bottom: 5px;
}

.content-product-page .list-plan-advantages li p:last-child {
    margin-bottom: 0;
}

.content-product-page .list-plan-advantages li h3 {
    color: #0c5c8e;
}

.big-col-1 .sub-col .title,
.big-col-2 .sub-col .title {
    font-family: 'brandon_textlight', sans-serif;
    font-size: 23px;
    line-height: 1;
    text-transform: uppercase;
    color: #232323;
    background-color: #f9f9f9;
    margin: 0 -5px 5px -5px;
    padding-bottom: 30px;
}

.big-col-1 .sub-col .price,
.big-col-2 .sub-col .price {
    min-height: 50px;
    margin: 20px 0;
    font-family: 'brandon_textregular', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    color: #232323;
}

.big-col-1 .sub-col .price .small-text,
.big-col-2 .sub-col .price .small-text {
    display: block;
    margin-top: 10px;
    font-family: brandon_textlight;
    text-transform: none;
    font-size: 14px;
    color: #383838;
}

.content-product-page .yellow-btn {
    display: inline-flex;
    box-sizing: border-box;
    width: 80%;
    min-height: 40px;
    justify-content: center;
    flex-direction: column;
    font-family: 'google_sansmedium', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 0 10px;
    text-decoration: none;
    background-color: #fdb814;
    border-radius: 30px;
    margin-bottom: 32px;
    line-height: 1;
}
.content-product-page .yellow-btn span {
    font-size: 13px;
}

.features-list {
    padding: 0;
    margin-bottom: 120px;
}

.features-list li {
    list-style: none;
    color: #232323;
    margin-bottom: 10px;
}

.features-list li a {
    color: #232323;
    text-decoration: none;
}


.content-product-page .vertical-block {
    position: absolute;
    right: 0px;
    top: 500px;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: right bottom 0;
}

.content-product-page .vertical-block a {
    display: inline-block;
    padding: 7px 20px;
    /*background-color: red;*/
    color: white;
    text-decoration: none;
    font-family: 'google_sansmedium', sans-serif;
    font-size: 15px;
}

.content-product-page .vertical-block .license {
    background-color: #47a7e3;

}
.content-product-page .vertical-block .compare-alt {
    background-color: #fdb814;
}

.content-product-page .download-plan-btn,
.content-product-page .by-plan-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-family: 'google_sansmedium', sans-serif;
    font-size: 16px;
    min-width: 100px;
    width: 80%;
    text-align: center;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
}

.content-product-page .download-plan-btn {
    background-color: #575757;
}

.content-product-page .by-plan-btn {
    background-color: #47a7e3;
}






.vertical-text {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    /*-ms-transform-origin: left top 0;*/
    /*-moz-transform-origin: left top 0;*/
    /*-webkit-transform-origin: left top 0;*/
    /*transform-origin: left top 0;*/
    background: #E23737;
    color: #fff;
    margin-top: 50px;
    margin-left: 40px;
    /*padding: 10px;*/
    /*border: 1px solid #ccc;*/
    /*text-transform: uppercase;*/
    /*border: 1px solid #B52C2C;*/
    /*text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 2px -2px 0px rgba(0, 0, 0, 0.1);*/
    float: left;

}

.bulks-pp {
    background-color: #e0e0e0;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    font-family: brandon_textregular, sans-serif;
    color: #575757;
}

.bulks-pp .bulk-pp {
    box-sizing: border-box;
    width: 450px;
    background-color: white;
    margin: 0 20px;
    padding: 30px 20px;
    text-align: center;
}
.bulks-pp h4 {
    margin: 0 0 20px 0;
    font-size: 35px;
    text-align: center;
    color: #575757;
}

.bulks-pp p {
    font-size: 20px;
    font-family: brandon_textlight, sans-serif;
    margin-bottom: 15px;
}

.bulks-pp .lm-btn {
    font-family: 'google_sansmedium', sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    background-color: #575757;
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
}

/*media*/

.links-menu-table {
    text-align: right;
    margin-bottom: 30px;
    padding: 0 10px;
}

.links-menu-table a {
    background-color: #575757;
    display: inline-block;
    text-align: center;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
    font-family: 'google_sansmedium', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.links-menu-table .license {
    background-color: #47a7e3;
}
.links-menu-table .compare-alt {
    background-color: #fdb814;
}

.hide-desktop {
    display: none;
}

.hide-mobile {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .hide-desktop {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}

.list-plan-advantages.mobile {
    display: none;
}

@media only screen and (max-width: 1020px) {
    .content-product-page.inner {
        width: 100%;
        min-width: 300px !important;
    }

    .wrapper-product-table {
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        word-wrap: normal;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .content-product-page h1,
    .content-product-page .slogan,
    .links-menu-table{
        text-align: center;
    }
    .features-list {
        margin-bottom: 50px;
    }
    .list-plan-advantages.mobile {
        display: block;
        padding: 5px;
        position: relative;
    }
    .list-plan-advantages.desktop {
        display: none;
    }
    .links-menu-table a {
        width: 250px;
    }
    .bulks-pp {
        flex-wrap: wrap;
    }
    .bulks-pp .bulk-pp {
        /*width: 100%;*/
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .content-product-page .descr {
        height: auto;
        min-height: auto;
    }
    .content-product-page .features {
        min-height: auto;
    }
    .content-product-page .download-plan-btn,
    .content-product-page .by-plan-btn {
        /*position: static;*/
        /*left: auto;*/
        /*transform: none;*/
    }
    .big-col-1 .sub-col,
    .big-col-2 .sub-col {
        /*width: 100%;*/
        /*height: auto;*/

    }
}
